<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="../css/styles.css" type="text/css">
    <title>Shoe Store</title>
  </head>
  <body>
    <div class="jumbotron">
      <center><h2>Shoe Stores</h2></center>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
